$google-blue: #4285F4;
$google-red: #DB4437;
$google-yellow: #F4B400;
$google-green: #0F9D58;
$shadow: 0 1px 6px #20202035;
$subdued-black: #353535;

* {
    box-sizing: border-box;
}

body, input {
    font-family: Arial, sans-serif;
}

a, .logo {
    font-family: 'Roboto';
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 3fr;
}

.link-container {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.link {
    font-size: 0.9rem;

    a {
        color: $subdued-black;
        text-decoration: none;
    }

    a:hover {
        color: #000000;
        text-decoration: underline;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.logo {
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.blue {
    color: $google-blue;
}

.red {
    color: $google-red;
}

.yellow {
    color: $google-yellow;
}

.green {
    color: $google-green;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.bar {
    height: 44px;
    width: 600px;
    border-radius: 24px;
    border: 1px solid #DFE1E5;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type=text] {
        width: 90%;
        height: 100%;
        padding: 5px 10px;
        font-size: 1rem;
        outline: none;
        border: none;
    }

    .fa-magnifying-glass {
        color: #969697;
    }
}

.bar:focus, .bar:hover, .bar:focus-within {
    box-shadow: $shadow;
}

.button {
    background-color: #F6F6F6;
    border: 1px solid #F4F4F4;
    color: $subdued-black;
    border-radius: 4px;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    font-size: 0.9rem;
}

.button:hover{
    border-color: #d8d8d8;
    box-shadow: $shadow;
}