/* Just to note, quite a few of the values below such as colours, font-size, margin, etc. are referenced directly from Google's own CSS with minor adjustments.
That said, unlike Google's which uses Flexbox for the page layout, I chose to go with Grid instead since I find it to be simpler.*/
* {
  box-sizing: border-box;
}

body, input {
  font-family: Arial, sans-serif;
}

a, .logo-regular, .logo-header {
  font-family: "Roboto";
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
}

.grid-regular {
  grid-template-rows: 1fr 4fr 4fr 3fr;
}

.grid-advanced {
  grid-template-rows: 1fr 1.5fr 9.5fr;
}

.link-container {
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.link {
  font-size: 0.9rem;
}
.link a {
  color: #3F3F3F;
  text-decoration: none;
}
.link a:hover {
  color: black;
  text-decoration: underline;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: end;
}

.logo-regular {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
.logo-regular #images {
  display: block;
  color: #4285f4;
  font-size: 1rem;
  font-weight: 400;
  text-align: end;
  margin: -15px 7px 0 0;
}

.logo-header {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-right: auto;
}

.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bar {
  height: 44px;
  width: 600px;
  border-radius: 24px;
  border: 1px solid #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar input[type=text] {
  width: 88%;
  height: 100%;
  padding: 5px 10px;
  font-size: 1rem;
  outline: none;
  border: none;
}
.bar .search-icon {
  color: #969697;
}
.bar button[type=submit] {
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
}
.bar button[type=submit] .search-button {
  font-size: 1.2rem;
  color: #0D6EFD;
}

.bar:focus, .bar:hover, .bar:focus-within {
  box-shadow: 0 1px 6px rgba(32, 32, 32, 0.2078431373);
}

.button {
  background-color: #F6F6F6;
  border: 1px solid #EEEEEE;
  color: #3F3F3F;
  border-radius: 4px;
  height: 36px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  font-size: 0.9rem;
}

.button:hover {
  border-color: #D8D8D8;
  box-shadow: 0 1px 6px rgba(32, 32, 32, 0.2078431373);
}

.button-container {
  display: flex;
  gap: 1rem;
}

.title-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
}

#advanced-search {
  color: #DB4437;
  font-size: 1.3rem;
  margin-left: 40px;
}

.form-container {
  color: #3F3F3F;
  height: 100%;
  margin: 30px 0 0 40px;
  display: grid;
  grid-template-rows: repeat(5, 1fr) 7fr;
}
.form-container .row {
  display: grid;
  grid-template-columns: 180px 5fr 4.5fr;
  align-items: center;
}
.form-container .input-heading, .form-container #button-advanced {
  grid-column: 1/3;
}
.form-container label {
  font-size: 0.8rem;
  color: black;
}
.form-container .help-heading {
  font-size: 0.8rem;
  font-weight: 700;
  color: #666666;
  margin-left: 5px;
}
.form-container .help {
  font-size: 0.7rem;
  margin-left: 15px;
}
.form-container .mono {
  font-family: monospace;
  color: #666666;
}
.form-container input[type=text] {
  height: 28px;
  padding: 2px 8px;
  font-size: 0.8rem;
  outline: none;
  border: 1px solid #D8D8D8;
}
.form-container input[type=text]:hover, .form-container input[type=text]:focus, .form-container input[type=text]:focus-within {
  border-color: #4285f4;
}
.form-container #button-advanced {
  width: 120px;
  height: 32px;
  font-size: 0.7rem;
  font-weight: 700;
  align-self: baseline;
  margin: 15px 0 0 auto;
  padding: 0;
  color: white;
  background-color: #4D90FE;
  border: 1px solid #0D6EFD;
  border-radius: 2px;
}
.form-container #button-advanced:hover {
  background-color: #4285f4;
}

/*# sourceMappingURL=styles.css.map */
